# Node modules
node_modules/

# Environment variables
.env
package-lock.json
# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# IDE settings
.vscode/
.idea/

# Coverage reports
coverage/

# MongoDB data dump (if any)
dump/
